/* universal properties*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* setting rem measuare */
html {
    font-size: 62.5%;
}

:root{
    --red-color: #DB2801;
    --orange-color: #FF6902;
    --button-color: #C21212;
    --grey-color: #c9c9c9;
    --grey-dark-color: #898989;
}

.mainContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
}

.appBox {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 2.5rem;
    border: 0.7rem solid var(--button-color);
}

.elementsBox {
    display: flex;;
    flex-direction: column;
}

.tittle {
    font-family: 'Readex Pro', sans-serif;
    font-size: 2rem;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.input {
    font-family: 'Readex Pro', sans-serif;
    width: 16rem;
    height: 4rem;
    background-color: var(--grey-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.bottonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botton {
    width: 13rem;
    height: 4rem;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: var(--button-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    margin: auto auto 2rem auto;
}

@media (min-width: 375px) {

    .mainContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }

    .appBox {
        width: 70vw;
        height: 100%;
        margin: 4rem auto 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0 0 0;
        gap: 2.4rem;
    }

    .orderInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .orderTitle {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }

    .orderID {
        background-color: var(--grey-color);
        width: 14rem;
        height: 3.5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .anjeoType {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.6rem;
        text-align: center;
        color: var(--orange-color);
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
    }

    .fieldContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .fieldContainerHidden {
        display: none;
    }

    .fieldName {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .errorContainer {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }

    .wrongData {
      width: 18rem;
      font-family: 'Readex Pro', sans-serif;
      font-size: 1rem;
      text-align: center;
      color: var(--red-color);
    }

    .bottonContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1rem 0 2rem 0;
    }

    .botton {
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
}

@media (min-width: 600px) {
    .mainContainer {
        width: 100%;
        height: 100vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }

    .appBox {
        width: 60rem;
        height: 110rem;
        height: 100%;
        margin: 4rem auto 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8rem;
        margin: 4rem 0  0 0;
    }

    .orderTable {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .orderTitle {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.8rem;
    }

    .orderID {
        background-color: var(--grey-color);
        width: 14rem;
        height: 3.5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .anjeoType {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.6rem;
        color: var(--orange-color);
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    .fieldContainer {
        width: 42rem;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    .fieldContainerHidden {
        display: none;
    }


    .fieldName {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .errorContainer {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 1.6rem;
    }

    .wrongData {
      width: 35rem;
      font-family: 'Readex Pro', sans-serif;
      font-size: 1rem;
      text-align: center;
      color: var(--red-color);
    }

    .bottonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 13rem;
        margin-top: 2rem;
    }

    .botton {
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
}

@media (min-width: 900px) {
    .mainContainer {
        width: 100vw;
        min-height: 90rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }

    .appBox {
        width: 80rem;
        height: 82rem;
        margin: 4rem auto 4rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 4rem 0  0 0;
        gap: 20rem;
    }

    .orderTable{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .orderTitle {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.8rem;
    }

    .orderID {
        background-color: var(--grey-color);
        width: 14rem;
        height: 3.5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .anjeoType {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.6rem;
        color: var(--orange-color);
    }

    .form {
        width: auto;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .fieldContainer {
        width: 30rem;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fieldContainerHidden {
        width: 30rem;
        height: 7rem;
        display: flex;
    }

    .fieldName {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        width: 12.5rem;
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .errorContainer {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem;
    }

    .wrongData {
      width: 35rem;
      font-family: 'Readex Pro', sans-serif;
      font-size: 1rem;
      text-align: center;
      color: var(--red-color);
    }

    .bottonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 13rem;
        margin-top: 2rem;
    }

    .botton {
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
}

@media (min-width: 1024px) {
    .mainContainer {
        width: 100vw;
        min-height: 90rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }

    .appBox {
        width: 80rem;
        height: 82rem;
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 4rem 0 0 0;
        gap: 20rem;
    }

    .orderTable {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .orderTitle {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.8rem;
    }

    .orderID {
        background-color: var(--grey-color);
        width: 14rem;
        height: 3.5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .anjeoType {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.6rem;
        color: var(--orange-color);
    }

    .form {
        width: auto;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .fieldContainer {
        width: 30rem;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .fieldContainerHidden {
        width: 30rem;
        height: 7rem;
        display: flex;
    }

    .fieldName {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .optionsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .errorContainer {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem;
    }

    .wrongData {
      width: 35rem;
      font-family: 'Readex Pro', sans-serif;
      font-size: 1rem;
      text-align: center;
      color: var(--red-color);
    }

    .bottonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 13rem;
        margin-top: 2rem;
    }

    .botton {
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
}
