/* universal properties*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* setting rem measuare */
html {
    font-size: 62.5%;
}

:root{
    --red-color: #DB2801;
    --orange-color: #FF6902;
    --button-color: #C21212;
    --grey-color: #c9c9c9;
    --grey-dark-color: #898989;
}

.mainContainer {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
}

.appBox {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 2.5rem;
    border: 0.7rem solid var(--button-color);
}

@media (min-width: 375px) {
    .mainContainer {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }

    .appBox {
        width: 33rem;
        min-height: 50rem;
        height: auto;
        margin: 2rem auto 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;

    }

    .usersQuantity {
        width: 14rem;
        height: 3.5rem;
        justify-content: center;
        align-items: center;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .total {
        background-color: var(--grey-color);
        width: 14rem;
        height: 3.5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .usersTitle {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.6rem;
        text-align: center;
        color: var(--orange-color);
        margin-top: 3rem;
    }

    .usersContainer {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: -5rem;
    }

    .columnDataContainer{
        height: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-top: 5rem;
    }

    .columnData {
        width: 10rem;
        height: 3.5rem;
        justify-content: space-between;
        align-items: center;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    .columnActions {
        display: none;
    }

    .rowsContainer {
        width: 27rem;
        height: 5rem;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 1rem;
    }

    .rowData {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-color);
        width: 12rem;
        height: 4rem;
        border-radius: 0.3rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 3rem;
    }

    .actionButtonsContainer {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        margin-top: -3.2rem;
    }

    .actionButtons {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        text-align: center;
        margin: 6rem 1rem 0rem 1rem;
        gap: 2rem;
    }

    .formActions {
        display: flex;
        flex-direction: row;
        gap: 4.5rem;
        margin-left: 1.2rem;
    }

    .buttonEdit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Readex Pro', sans-serif;
        width: 9rem;
        height: 2.6rem;
        color: white;
        background-color: var(--orange-color);
        border-radius: 0.4rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }

    .buttonDelete {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Readex Pro', sans-serif;
        width: 9rem;
        height: 2.6rem;
        color: white;
        background-color: var(--red-color);
        border-radius: 0.4rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }

    .footer{
        height: 5.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .button{
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
}

@media (min-width: 600px) {
    .mainContainer {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }

    .appBox {
        width: 58rem;
        min-height: 50rem;
        height: auto;
        margin: 2rem auto 2rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }

    .tablesContainer {
        width: 50rem;
        margin-top: 2rem;
    }

    .dataTable {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 3rem;
  }

    .usersQuantity {
        width: 14rem;
        height: 3.5rem;
        align-items: start;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .total {
        background-color: var(--grey-color);
        width: 14rem;
        height: 3.5rem;
        border-radius: 0.8rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
    }

    .usersTitle {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.6rem;
        text-align: center;
        color: var(--orange-color);
        margin-top: 3rem;
    }

    .usersContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 1rem;
    }

    .columnDataContainer{
        width: 50rem;
        height: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        margin: 5rem 0 0 1.5rem;
        gap: 3.3rem;
    }

    .columnData {
        width: 10rem;
        height: 3.5rem;
        justify-content: space-around;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    .columnActions {
        display:inline;
        width: 10rem;
        height: 3.5rem;
        justify-content: space-between;
        align-items: center;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 8rem;
    }

    .anjeosTableBody{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .usersTableBody{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
  }

    .rowsContainer {
        width: 27rem;
        height: 5.8rem;
        flex-direction: row;
        align-content: center;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);

    }

    .rowData {
        display: flex;
        background-color: var(--grey-color);
        width: 12rem;
        height: 4rem;
        border-radius: 0.3rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }

    .actionButtonsContainer {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        width: 22rem;
        height: 6rem;
        margin: 0.8rem 0 0 1rem;
    }

    .actionButtons {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        text-align: center;
        margin: 2rem 0rem 0rem 0rem;
        gap: 2rem;
    }

    .formActions {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .buttonEdit {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Readex Pro', sans-serif;
        width: 9rem;
        height: 2.6rem;
        color: white;
        background-color: var(--orange-color);
        border-radius: 0.4rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }

    .buttonDelete {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: 'Readex Pro', sans-serif;
        width: 9rem;
        height: 2.6rem;
        color: white;
        background-color: var(--red-color);
        border-radius: 0.4rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }

    .footer{
        height: 5.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button{
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
}

@media (min-width: 900px) {
  .mainContainer {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
}

.appBox {
    width: 58rem;
    min-height: 50rem;
    height: auto;
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.tablesContainer {
    width: 50rem;
    margin-top: 2rem;
}

.dataTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
}

.usersQuantity {
    width: 14rem;
    height: 3.5rem;
    align-items: start;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
}

.total {
    background-color: var(--grey-color);
    width: 14rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
}

.usersTitle {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: var(--orange-color);
    margin-top: 3rem;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 1rem;
}

.columnDataContainer{
    width: 50rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 5rem 0 0 1.5rem;
    gap: 3.3rem;
}

.columnData {
    width: 10rem;
    height: 3.5rem;
    justify-content: space-around;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.columnActions {
    display:inline;
    width: 10rem;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 8rem;
}

.anjeosTableBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.usersTableBody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.rowsContainer {
    width: 27rem;
    height: 5.8rem;
    flex-direction: row;
    align-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);

}

.rowData {
    display: flex;
    background-color: var(--grey-color);
    width: 12rem;
    height: 4rem;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.actionButtonsContainer {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    width: 22rem;
    height: 6rem;
    margin: 0.8rem 0 0 1rem;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0rem 0rem 0rem;
    gap: 2rem;
}

.formActions {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.buttonEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    width: 9rem;
    height: 2.6rem;
    color: white;
    background-color: var(--orange-color);
    border-radius: 0.4rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.buttonDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    width: 9rem;
    height: 2.6rem;
    color: white;
    background-color: var(--red-color);
    border-radius: 0.4rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.footer{
    height: 5.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    width: 13rem;
    height: 4rem;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: var(--button-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}
}

@media (min-width: 1024px) {
  .mainContainer {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
}

.appBox {
    width: 58rem;
    min-height: 50rem;
    height: auto;
    margin: 2rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.tablesContainer {
    width: 50rem;
    margin-top: 2rem;
}

.dataTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem;
}

.usersQuantity {
    width: 14rem;
    height: 3.5rem;
    align-items: start;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
}

.total {
    background-color: var(--grey-color);
    width: 14rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
}

.usersTitle {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: var(--orange-color);
    margin-top: 3rem;
}

.usersContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 1rem;
}

.columnDataContainer{
    width: 50rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 5rem 0 0 1.5rem;
    gap: 3.3rem;
}

.columnData {
    width: 10rem;
    height: 3.5rem;
    justify-content: space-around;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.columnActions {
    display:inline;
    width: 10rem;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 8rem;
}

.anjeosTableBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.usersTableBody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.rowsContainer {
    width: 27rem;
    height: 5.8rem;
    flex-direction: row;
    align-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);

}

.rowData {
    display: flex;
    background-color: var(--grey-color);
    width: 12rem;
    height: 4rem;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.actionButtonsContainer {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    width: 22rem;
    height: 6rem;
    margin: 0.8rem 0 0 1rem;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0rem 0rem 0rem;
    gap: 2rem;
}

.formActions {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.buttonEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    width: 9rem;
    height: 2.6rem;
    color: white;
    background-color: var(--orange-color);
    border-radius: 0.4rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.buttonDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    width: 9rem;
    height: 2.6rem;
    color: white;
    background-color: var(--red-color);
    border-radius: 0.4rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.footer{
    height: 5.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    width: 13rem;
    height: 4rem;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: var(--button-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}
}
