/* universal properties*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* setting rem measuare */
html {
    font-size: 62.5%;
}

:root{
    --red-color: #DB2801;
    --orange-color: #FF6902;
    --button-color: #C21212;
    --grey-color: #c9c9c9;
    --grey-dark-color: #898989;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
}

.appBox {
    width: 80vw;
    height: 90vh;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 2.5rem;
    border: 0.7rem solid var(--button-color);
}

.elementsBox {
    display: flex;;
    flex-direction: column;
}

.tittle {
    font-family: 'Readex Pro', sans-serif;
    font-size: 2rem;
    margin: 7rem auto 0 auto;
    text-align: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: auto auto auto auto;
}

.input {
    font-family: 'Readex Pro', sans-serif;
    width: 16rem;
    height: 4rem;
    background-color: var(--grey-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.loginBotton {
    width: 13rem;
    height: 4rem;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color: var(--button-color);
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    margin: auto auto auto auto;
    position: relative;
    top: 2rem;
}

.linksBox {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    margin: auto auto auto auto;
    position: relative;
    top: -1rem;
}

.link {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.3rem;
    color: var(--grey-dark-color);
    text-align: center;
    text-decoration: underline;
}

@media (min-width: 375px) {
    .appBox {
        width: 70vw;
        max-height: 90vh;
;
    }
}

@media (min-width: 600px) {
    .appBox {
        width: 50rem;
        max-height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tittle {
        font-size: 3.5rem;
        margin: auto;
        position: relative;
        top: -15rem;
    }

    .input {
        width: 30rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
    }

    .loginBotton {
        width: 18rem;
        height: 5rem;
        font-size: 2.2rem;
        top: 6rem;

    }

    .form {
        position: relative;
        top: -3rem;
        font-size: 4rem;
        margin-left: auto;
        margin-right: auto;
    }   

    .linksBox {
        top: 13rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    .appBox {
        width: 50rem;
        max-height: 90vh;
    }
}

@media (min-width: 1024px) {
    .appBox {
        width: 40rem;
        max-height: 80vh;
    }

     .tittle {
        font-size: 2.3rem;
        margin: auto;
        position: relative;
        top: -8rem;
    }

    .input {
        width: 22rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
    }

    .loginBotton {
        width: 16rem;
        height: 4rem;
        font-size: 1.8rem;
        top: 4rem;

    }

    .form {
        position: relative;
        top: 1rem;
        font-size: 4rem;
        margin-left: auto;
        margin-right: auto;
    }   

    .linksBox {
        top: 13rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .link {
        font-size: 1.6rem;
    }
}