<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anjeo liviano actualizado</title>
    <meta name="description" content="anjeo liviano actualizado"> 
    <link rel="stylesheet" href="/styles/anjeoLightUpdatedSucessfully.css" type="text/css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="elementsBox">
                <h2 class="tittle">Anjeo liviano actualizado exitosamente</h2>
                <div class="iconBox">
                    <img class="icono" src="/icons/check-solid.svg" alt="icono de confirmación positivo">
                </div>
                <button class="Botton" data-path="./listLight" onclick="redirect(this)">Aceptar</button>
            </section>
        </section>
    </div>
    <script src="/js/redirectView.js"></script>
</body>
</html>