<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear anjeo liviano</title>
    <meta name="description" content="Crear anjeo liviano">
    <link rel="stylesheet" href="/styles/formLight.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="header">
                <div class="orderInfo">
                    <table class="orderTable">
                        <thead>
                            <tr>
                                <th class="orderTitle">Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="orderID"><%= currentOrder %></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="anjeoType">Anjeo liviano</h2>
            </section>
            <form class="form" action="/api/v1/CreateFormLight" method="POST">
                <div class="fieldContainer">
                    <h3 class="fieldName">Seleccionar color</h3>
                    <input class="input" name="color" id="color" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Seleccionar perfil</h3>
                    <input class="input" name="perfil" id="perfil" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Seleccionar tipo de apertura</h3>
                    <input class="input" name="apertura" id="apertura" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Lugar</h3>
                    <input class="input" name="lugar" id="lugar" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Ancho</h3>
                    <input class="input" name="ancho" id="ancho" type="number" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura</h3>
                    <input class="input" name="altura" id="altura" type="number" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Guias</h3>
                    <input class="input" name="guias" id="guias" type="number" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Instalación</h3>
                    <input class="input" name="instalacion" id="instalacion" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura divisor</h3>
                    <input class="input" name="alturaDivisor" id="alturaDivisor" type="number" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Ángulo</h3>
                    <input class="input" name="angulo" id="angulo" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Notas</h3>
                    <input class="input" name="notas" id="notas" type="text">
                </div>
                <div class="fieldContainerHidden">
                </div>
                <section class="bottonContainer">
                    <button class="botton">Regresar</button>
                    <button type="submit" class="botton">Siguiente</button>
                </section>
            </form>
        </section>
    </div>
</body>
</html>
