<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear anjeo pesado</title>
    <meta name="description" content="Crear anjeo pesado">
    <link rel="stylesheet" href="/styles/formHeavy.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="header">
                <div class="orderInfo">
                    <table class="orderTable">
                        <thead>
                            <tr>
                                <th class="orderTitle">Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="orderID"><%= currentOrder %></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <h2 class="anjeoType">Crear anjeo pesado</h2>
            </section>
            <form class="form" action="/api/v1/orderActions/type/formHeavy/CreateFormHeavy" method="POST" onsubmit="return validateFormValues()">
                <div class="fieldContainer">
                    <h3 class="fieldName">Color</h3>
                    <select class="input" name="color" id="color" required>
                      <option value="" disabled selected>Color</option>
                      <option value="Analog">Anolog</option>
                      <option value="Blanco">Blanco</option>
                      <option value="Champaña">Champaña</option>
                      <option value="Natural">Natural</option>
                      <option value="Negro">Negro</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Perfil</h3>
                    <select class="input" name="perfil" id="perfil" required>
                      <option value="" disabled selected>Perfil</option>
                      <option value="Cuatro naves">Cuatro naves</option>
                      <option value="Doble">Doble</option>
                      <option value="Sencillo">Sencillo</option>
                      <option value="Tres naves">Tres naves</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Tipo de apertura</h3>
                    <select class="input" name="apertura" id="apertura" required>
                      <option value="" disabled selected>Apertura</option>
                      <option value="Cierre al centro">Cierre al centro</option>
                      <option value="Fijo">Fijo</option>
                      <option value="Lateral">Lateral</option>
                      <option value="Uno hala otro">Uno hala otro</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Lugar</h3>
                    <input class="input" name="lugar" id="lugar" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Ancho</h3>
                    <input class="input" name="ancho" id="ancho" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura</h3>
                    <input class="input" name="altura" id="altura" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Riel inferior</h3>
                    <input class="input" name="rielInferior" id="rielInferior" type="text" required>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Riel superior</h3>
                    <input class="input" name="rielSuperior" id="rielSuperior" type="text" required>
                </div>
                <div class="fieldContainer">
                  <h3 class="fieldName">Ángulo tubular</h3>
                  <select class="input" name="tubular" id="tubular" required>
                    <option value="" disabled selected>Tubular</option>
                    <option value="1 pulgada">1 pulgada</option>
                    <option value="2 pulgada">2 pulgada</option>
                    <option value="3 pulgada">3 pulgada</option>
                  </select>
                </div>
                <div class="fieldContainer">
                  <h3 class="fieldName">Ángulo medida</h3>
                  <select class="input" name="anguloMedida" id="anguloMedida" required>
                    <option value="" disabled selected>Ángulo</option>
                    <option value="1 pulgada">1 pulgada</option>
                    <option value="3/4 pulgada">3/4 pulgada</option>
                  </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Perfil superior</h3>
                    <input class="input" name="perfilSuperior" id="perfilSuperior" type="text">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Instalación</h3>
                    <select class="input" name="instalacion" id="instalacion" required>
                      <option value="" disabled selected>Instalación</option>
                      <option value="Externa">Externa</option>
                      <option value="Interna">Interna</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Altura divisor</h3>
                    <input class="input" name="alturaDivisor" id="alturaDivisor" type="text">
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Tipo de manija</h3>
                    <select class="input" name="manija" id="manija" required>
                      <option value="" disabled selected>manija</option>
                      <option value="Cubeta anjeo">Cubeta anjeo</option>
                      <option value="Ducha">Ducha</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Lado de apertura</h3>
                    <select class="input" name="lado" id="lado" required>
                      <option value="" disabled selected>Lado</option>
                      <option value="Derecha">Derecha</option>
                      <option value="Fijo">Fijo</option>
                      <option value="Izquierda">Izquierda</option>
                    </select>
                </div>
                <div class="fieldContainer">
                    <h3 class="fieldName">Notas</h3>
                    <input class="input" name="notas" id="notas" type="text">
                </div>
                <div class="fieldContainerHidden" id="fieldContainerHidden">
                </div>
                <section class="optionsContainer">
                    <section class="errorContainer" id="errorContainer">
                        <div class="wrongData" id="wrongData">Datos incorrectos, por favor verifiquelos e inténtelo de nuevo</div>
                    </section>
                    <section class="bottonContainer">
                        <button class="botton" data-path="/api/v1/orderActions/type" onclick="redirect(this)">Regresar</button>
                        <button type="submit" class="botton">Siguiente</button>
                    </section>
                </section>
            </form>
        </section>
    </div>
    <script type="application/javascript" src="/js/validateFormHeavyValues.js"></script>
    <script type="application/javascript" src="/js/validateFormHeavyInputs.js"></script>
    <script type="application/javascript" src="/js/redirectView.js"></script>
</body>
</html>
