<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de opciones</title>
    <meta name="description" content="menú de opciones">
    <link rel="stylesheet" type="text/css" href="/styles/orderActions.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="elementsBox">
                <header class="orderInfo">
                    <table class="orderTable">
                        <thead>
                            <tr>
                                <th class="orderTitle">Pedido</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td class="orderID"><%= orderNumber %></td>
                                </tr>
                        </tbody>
                    </table>
                </header>
                <div class="orderActionsButtons">
                    <button class="botton" data-path="/api/v1/orderActions/typeCreated" onclick="redirect(this)">Ver anjeos</button>
                    <button class="botton" data-path="/api/v1/orderActions/type" onclick="redirect(this)">Nuevo anjeo</button>
                    <button class="botton" data-path="/api/v1/orderActions/typeToDuplicate" onclick="redirect(this)">Duplicar</button>
                </div>
                <div class="orderActionsButtons">
                    <button class="botton" data-path="/api/v1/orderActions/dscts" onclick="redirect(this)">Siguiente</button>
                    <button class="botton" data-path="/api/v1/tools" onclick="redirect(this)">Regresar</button>
                </div>
            </section>
        </section>
    </div>
    <script type="application/javascript" src="/js/redirectView.js"></script>
</body>
</html>
