<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de pedido</title>
    <meta name="description" content="Inicio de sección"> 
    <link rel="stylesheet" href="../public/styles/orderControler.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="elementsBox">
                <h2 class="tittle">Inicio de sección</h2>
                <!-- <form action="/submit" method="post" class="form"> -->
                <form class="form" onsubmit="return validateData()">
                    <input class="input" id="userName" type="text" placeholder="Usuario">
                    <input class="input" id="password" type="password" placeholder="contraseña">
                    <button type="submit" class="loginBotton">Ingresar</button>
                </form>
                <section class="linksBox">
                    <p class="link">Documentación</p>
                    <p class="link">Contactar a soporte</p>
                </section>
            </section>
        </section>
    </div>
</body>
</html>