<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Número de pedido</title>
    <meta name="description" content="Inicio de sección"> 
    <link rel="stylesheet" type="text/css" href="/styles/order.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="elementsBox">
                <h2 class="tittle">Ingresa el número de pedido</h2>
                <form class="form" action="/orderID" method="POST">
                    <input class="orderNumber" name="orderNumber" id="orderNumber" type="number" placeholder="Número">
                    <button type="submit" class="botton">Siguiente</button>
                    <button type="" class="botton">Regresar</button>
                </form>
                    <button type="" class="exitBotton">Salir</button>
            </section>
        </section>
    </div>
</body>
</html>