<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Número de pedido</title>
    <meta name="description" content="Número de pedido">
    <link rel="stylesheet" type="text/css" href="/styles/order.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="elementsBox">
                <h2 class="tittle">Ingresa el número de pedido</h2>
                <form class="form" action="/api/v1/orderID" method="POST" onsubmit="return validateForm()">
                    <input class="orderNumber" name="orderNumber" id="orderNumber" type="number" placeholder="Número">
                    <div class="error-message" id="errorMessage">Datos incorrectos, por favor verifiquelos e intentelo de nuevos</div>
                    <button type="submit" class="botton">Siguiente</button>
                    <button class="botton" data-path="/api/v1/tools" onclick="redirect(this)">Regresar</button>
                </form>
                    <button class="exitBotton" data-path="/api/v1/" onclick="redirect(this)">Salir</button>
            </section>
        </section>
    </div>
    <script type="application/javascript" src="/js/validateOrderNumber.js"></script>
    <script type="application/javascript" src="/js/redirectView.js"></script>
</body>
</html>
