<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso denegado</title>
    <meta name="description" content="Inicio de sección">
    <link rel="stylesheet" href="/styles/tokenExpired.css" type="text/css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <section class="elementsBox">
                <h2 class="tittle">Sesión caducada</h2>
                <div class="iconoBox">
                  <img class="icono" src="/icons/user-lock-solid.svg" alt="icono de usuario con un candado cerrado">
                </div>
                <div class="errorContainer">
                    <p class="errorMessage">la Sesión se ha finalizado, por favor inicie sección e inténtelo de nuevo </p>
                </div>
                <button type="" class="Botton" data-path="/api/v1/" onclick="redirect(this)">Aceptar</button>
            </section>
        </section>
    </div>
    <script type="application/javascript" src="/js/redirectView.js"></script>
</body>
</html>
