<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecciona una herramienta</title>
    <meta name="description" content="Inicio de sección"> 
    <link rel="stylesheet" href="/styles/tools.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <h2 class="tittle">Selecciona una herramienta</h2>
            <section class="elementsBox">
                <div class="tool" id="tool" data-path="./order" onclick="redirect(this)">
                    <div class="toolContent">
                        <img class="icono" src="/icons/scissors-solid.svg" alt="icono de unas tijeras">
                    </div>
                    <h3 class="toolName">Cortes de anjeo</h3>
                </div>
                <div class="tool" id="tool" data-path="./order" onclick="redirect(this)">
                    <div class="toolContent">
                        <img class="icono" src="/icons/boxes-stacked-solid.svg" alt="icono de unas tijeras">
                    </div>
                    <h3 class="toolName">Control de pedidos</h3>
                </div>
                <div class="tool" id="tool" data-path="./order" onclick="redirect(this)">
                    <div class="toolContent">
                        <img class="icono" src="/icons/warehouse-solid.svg" alt="icono de unas tijeras">
                    </div>
                    <h3 class="toolName">inventario</h3>
                </div>
                <div class="tool" id="tool" data-path="./order" onclick="redirect(this)">
                    <div class="toolContent">
                        <img class="icono" src="/icons/gear-solid.svg" alt="icono de unas tijeras">
                    </div>
                    <h3 class="toolName">Configuración</h3>
                </div>
            </section>
            <button type="submit" class="botton" data-path="./" onclick="redirect(this)">Salir</button>
        </section>
    </div>
    <script src="./js/redirectView.js"></script>
</body>
</html>