<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selecciona un tipo de anjeo</title>
    <meta name="description" content="selecciona un tipo de anjeo"> 
    <link rel="stylesheet" type="text/css" href="/styles/type.css">
    <meta name="robots" content="index,follow">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainContainer">
        <section class="appBox">
            <h2 class="tittle">Ver anjeos creados</h2>
            <section class="elementsBox">
                <dic class="tool" id="tool" data-path="./listLight" onclick="redirect(this)">
                    <div class="toolContent">
                        <img class="icono" src="/icons/weight-hanging-solid.svg" alt="icono de unas tijeras">
                    </div>
                    <h3 class="toolName">Liviano</h3>
                </dic>
                <dic class="tool" id="tool" data-path="./listHeavy" onclick="redirect(this)">
                    <div class="toolContent">
                        <img class="icono" src="/icons/weight-hanging-solid.svg" alt="icono de unas tijeras">
                    </div>
                    <h3 class="toolName">Pesado</h3>
                </dic>
            </section>
            <section class="bottonContainer">
                <button type="submit" class="botton">Regresar</button>
                <button type="submit" class="botton">Salir</button>
            </section>
        </section>
    </div>
    <script src="/js/redirectView.js"></script>
</body>
</html>